%h1 募集までの流れ
%p ああああああああああああああああああああああああああ
%p ああああああああああああああああああああああああああ
%p ああああああああああああああああああああああああああ
%p ああああああああああああああああああああああああああ
%p ああああああああああああああああああああああああああ
%p ああああああああああああああああああああああああああ
%p ああああああああああああああああああああああああああ
%p ああああああああああああああああああああああああああ
%p ああああああああああああああああああああああああああ
%p ああああああああああああああああああああああああああ
%p ああああああああああああああああああああああああああ
%p ああああああああああああああああああああああああああ
%p ああああああああああああああああああああああああああ
%p ああああああああああああああああああああああああああ
%p ああああああああああああああああああああああああああ
%p ああああああああああああああああああああああああああ
